<!DOCTYPE hmtl>
<html lang="en">
<head>
    <!-- standard metatags -->
    <meta charset="utf-8">
    <meta name="description" content="Number Guessing Game">
    <meta name="keywords" content="Guessing Game, python, flask">
    <meta name="author" content="Guy Whorley">
    <title>Great Number Game</title>

    <link href='https://fonts.googleapis.com/css?family=Share+Tech+Mono' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css')}}">
    <script type="text/javascript" src="{{ url_for('static',filename='js/base.js')}}"></script>
</head>
<body>
    <div id="wrapper">
        <h1>Aperature Labs Number Game v2.1</h1>
        <p>{{ session['gameText'] }}</p>
        <p>{{ session['message'] }}</p>
        <form action="/processGuess" method="post">
            <input type="text" width="10" name="guess" autofocus />
            <input type="submit" name="Submit Guess" value="Guess"/>
        </form>
        <form action="/resetGame" method="post">
            <input type="submit" name="playagain" value="Play Again" />
        </form>


    </div>
</body>
</html>
