<!DOCTYPE hmtl>
<html lang="en">
<head>
    <!-- req'd by bootstrap -->
    <meta http-equiv="X-UA-Compatable" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css')}}">

    <!-- standard metatags -->
    <meta charset="utf-8">
    <meta name="description" content="Ninja Gold Game">
    <meta name="keywords" content="python, flask">
    <meta name="author" content="Guy Whorley">
    <title>Ninja Gold</title>

    <!-- jQuery and Bootstrap -->
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-2.2.3.min.js')}}"></script>
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> -->
    <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <!-- <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css')}}">
    <script type="text/javascript" src="{{ url_for('static',filename='js/base.js')}}"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row h1 center-me">Ninja Gold!</div>
        <div class="row center-me">
            <div class="col-sm-1">Your Gold</div>
            <div class="col-sm-11"><span class="gold">{{ session['gold'] }}</span>
        </div>
        <div class="row header">
            <div class="places col-sm-3">
                <div class="title h4">Farm</div>
                <div class="msg">(earns 10-20 gold)</div>
                <form action="/process_money" method="post">
                    <input type="hidden" name="building" value="farm" />
                    <input type="submit" name="get-gold" value="Find Gold!" />
                </form>
            </div>
            <div class="places col-sm-3">
                <div class="title h4">Cave</div>
                <div class="msg">(earns 5-10 gold)</div>
                <form action="/process_money" method="post">
                    <input type="hidden" name="building" value="cave" />
                    <input type="submit" name="get-gold" value="Find Gold!" />
                </form>
            </div>
            <div class="places col-sm-3">
                <div class="title h4">House</div>
                <div class="msg">(earns 2-5 gold)</div>
                <form action="/process_money" method="post">
                    <input type="hidden" name="building" value="house" />
                    <input type="submit" name="get-gold" value="Find Gold!" />
                </form>
            </div>
            <div class="places col-sm-3">
                <div class="title h4">Casino</div>
                <div class="msg">(earn/lose 0-50 gold)</div>
                <form action="/process_money" method="post">
                    <input type="hidden" name="building" value="casino" />
                    <input type="submit" name="get-gold" value="Find Gold!" />
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 activity-log">Activities</div>
                <div class="messages col-sm-11">
                {% for message in session['log'] %}
                <div>{{ message }}</div>
                {% endfor %}
                </div>
            </div>
    </div>
</body>
</html>
