// Place all the styles related to the survey controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.notice {
    
    background-color: green;
    color: white;
    padding: 20px;
    width: 400px;
    margin: 10px 0;
}
.box {
    margin-top: 30px;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 5px 5px 3px black;
    font-size: .9em;
    input, label, select, textarea, button {
        margin-left: 10px;
        width: 90%;
    }
    button { margin:10px 0;}
}
