<!DOCTYPE hmtl>
<html lang="en">
<head>
    <!-- req'd by bootstrap -->
    <meta http-equiv="X-UA-Compatable" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css')}}">

    <!-- standard metatags -->
    <meta charset="utf-8">
    <meta name="description" content="YOUR_DESCRIPTION_HERE_">
    <meta name="keywords" content="KEYWORD, KEYWORD, KEYWORD">
    <meta name="author" content="Guy Whorley">
    <title>Index Page</title>

    <!-- jQuery and Bootstrap -->
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-2.2.3.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css')}}">
    <script type="text/javascript" src="{{ url_for('static',filename='js/base.js')}}"></script>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <p id="msg" class="col-md-12 {{ session['view'] }}">{{message}}</p>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>
    <div class="row">
      <div class="alt-choice-set">
        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span><a href="/logout" class="alt-choice tac">Log-out</a>
      </div>
      <div class="row">
        <div class="col-xs-2 col-sm-4"></div>
        <div class="col-xs-10 col-sm-4 tal h1">Index</div>
        <div class="col-xs-2 col-sm-4"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2 col-sm-4 "></div>
      <p class="col-xs-8 col-sm-4">Welcome to your index page. The time is {{now}}.</p>
      <div class="col-xs-2 col-sm-4"></div>
    </div>
  </div>
</body>
</html>
