<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="description" content="crud application">
    <meta name="keywords" content="_KW1_, _KW2_, _KW3_">
    <meta name="author" content="Guy Whorley">

    <title>Add A New Course</title>

    <!-- Mobile Specific Meta for Skeleton -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Styles, Icons -->
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">

</head>
<body>

    <div class="container">
        <div class="row">
            <div class="three columns"></div>
            <div class="six columns">
                <form id="class-inp" action="/courses/add" method="post">
                    <h2>Add a new course</h2>
                    <input id="ctitle" type="text" name="title" placeholder="Enter course name" />
                    <textarea id="cdesc" name="description" placeholder="Enter course description"></textarea>
                    <input type="submit" name="submit"  class="button-primary" value="Add Course" />
                </form>
            </div>
            <div class="three columns"></div>
        </div>
        <div class="row">
            <div class="one column"></div>
            <div class="eleven columns">
                <h3>Courses</h3>
                <div class="listing">
                    <table>
                        <tr>
                            <th>Course Name</th>
                            <th>Description</th>
                            <th>Date Added</th>
                            <th>Actions</th>
                        </tr>
                        {% for course in courses %}
                        <tr>
                            <td>{{course['title']}}</td>
                            <td>{{course['description']}}</td>
                            <td>{{course['created_at']}}</td>
                            <td><a href="courses/destroy/{{course['id']}}">remove</a></td>
                        </tr>
                        {% endfor %}
                    </table>

                </div>
            </div>
            <div class="one column"></div>
        </div>
    </div>

</body>
</html>
