/*
 *  Filename: base.scss
 *  Author: Guy Whorley
 *  Notes:
 *   1. THe variables.scss contains required variables needed for base.scss.
 *   2. For the import order, see styles.scss.
 */

body { font-family: $font-main; color: $black; }

.container {
    ul li {
        padding: 0 3px;
        margin-top: 30px;
        vertical-align: center;
        display: inline-block;
    }
    input {
        margin: 5px 0;
        padding: 3px 5px;
        width: 80%;
    }
    td, th { width: 300px; }
    .btn-remove { width: 70px; }
}
