<!DOCTYPE hmtl>
<html lang="en">
<head>
    <!-- req'd by bootstrap -->
    <meta http-equiv="X-UA-Compatable" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css')}}">

    <!-- standard metatags -->
    <meta charset="utf-8">
    <meta name="description" content="Edit the friend record.">
    <meta name="keywords" content="python, flask">
    <meta name="author" content="Guy Whorley">
    <title>Change Friend</title>

    <!-- jQuery and Bootstrap -->
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-2.2.3.min.js')}}"></script>
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> -->
    <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <!-- <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script> -->
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css')}}">
    <script type="text/javascript" src="{{ url_for('static',filename='js/base.js')}}"></script>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p class="{{ session['view'] }}">{{message}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8 h1">Change Your Friend!</div>
        </div>
        <div class="row">
          <form action="/friends/{{ all_friends['id'] }}" method="POST" class="styleform">
            <label class="fn form-label">First Name:</label><input autofocus type="text" name="fname" placeholder="{{all_friends['first_name']}}"><div class="clear"></div>
            <label class="ln form-label">Last Name:</label><input type="text" name="lname" placeholder="{{all_friends['last_name']}}"><div class="clear"></div>
            <label class="pw form-label">Occupation:</label><input type="text" name="occ" placeholder="{{all_friends['occupation']}}"><div class="clear"></div>
            <input class="btn btn-md" type="submit" value="Update">
          </form>
          <a href="/" class="cancel-edit">Cancel</a>
        </div>
    </div>
  </body>
</html>
