/*
 *  Filename: base.scss
 *  Author: Guy Whorley
 *  Notes:
 *   1. THe variables.scss contains required variables needed for base.scss.
 *   2. For the import order, see styles.scss.
 */

body {
    font-family: $font-main;
    color: $black;
    .wrapper {
        height: 70%;
        border: 1px solid black;
        box-shadow: 3px 3px 3px black;
        width: 40%;
        margin: 20px auto;
        padding: 10px;
        text-align: center;
        border-radius: 10px;
        .gbtn {
            text-align: center;
            vertical-align: center;
            width: 100px;
            padding: 5px;
            margin: 5px;
            border-radius: 5px;
            background-color: $white;
            font-size: .90em;
        }
    }
}
