h2 { text-decoration: underline; }
span  {
    text-align: right;
    padding: 5px;
}
.go-btn {
    float: right;
    width: 70px;
    margin-top: 40px;
    border-radius: 5px;
}
.wrapper-result {
    box-shadow: 5px 5px 5px black;
    width: 400px;
    outline: 1px solid black;
    margin: 15% auto;
    padding: 20px;
    height: 200px;
}


body { font-family: Raleway, sans-serif; }
input, select, button { margin: 5px 0; }
label, textarea {
    margin-left: 10px;
    margin-top: 10px;
}
input, select {
    width: 200px;
}
.wrapper {
    box-shadow: 5px 5px 5px black;
    width: 400px;
    outline: 1px solid black;
    margin: 15% auto;
    padding: 20px;
}
.name { margin-right:90px;}
.name-result { margin-right: 125px;}
.loc { margin-right: 70px; }
.lang { margin-right: 30px; }
.lang-result { margin-right: 35px;}
.comm-result { margin-right: 97px; }
button {
    width: 70px;
    border-radius: 5px;
    margin: 10px 20px 10px 0;
    margin-right: 20px;
    float: right;
}
