// Place all the styles related to the rpg controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    .msg-notice {
        color: darkgreen;
        text-align: left;
    }
    .msg-alert {
        color: darkred;
        text-align:left;
    }

    a { float: right; }
    font-family: Raleway;
    .top {
        margin-top: 20px;
        font-weight: 400;
        .gold {
            width: 150px;
            height: 30px;
            border: 1px solid black;
            padding: 5px 10px;
        }

    }
    .columns {
        height: 150px;
        border: 1px solid black;
        padding: 10px;
        margin: 20px 10px;
        text-align: center;
        border-radius: 10px;
        .title {
            font-size: 115%;
            font-weight: 600;
        }
        form { margin-top: 30px; }
    }
    .twelve.columns {
        height: 200px;
        overflow-y: scroll;
    }


}
