<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="description" content="Semi-restful pylot mvc">
    <meta name="keywords" content="_KW1_, _KW2_, _KW3_">
    <meta name="author" content="Guy Whorley">

    <title>Add Product</title>

    <!-- Mobile Specific Meta for Skeleton -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Styles, Icons -->
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">

</head>
<body>

    <div class="container">
        <div class="row">
            <div class="two columns"></div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <p class="alert eight columns">{{message |safe}}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="two columns"></div>
        </div>
        <div class="row">
            <div class="two columns"></div>
            <div class="eight columns">

                <h4>Add a new product</h4>
                <form action="create" method="post">
                    <input type="text" name="name" placeholder="Product Name" />
                    <input type="text" name="description" placeholder="Product Description"  />
                    <input type="text" name="price" placeholder="Product Price"  />
                    <input class="button-primary" type="submit" name="submit" value="Create" />
                </form>

                <ul>
                    <li><a href="/">Go back</a></li>
                </ul>

            </div>
            <div class="two columns"></div>
        </div>
    </div>

</body>
</html>
