<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="description" content="Semi-restful pylot mvc">
    <meta name="keywords" content="_KW1_, _KW2_, _KW3_">
    <meta name="author" content="Guy Whorley">

    <title>Show Products</title>

    <!-- Mobile Specific Meta for Skeleton -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Styles, Icons -->
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">

</head>
<body>

    <div class="container">
        <div class="row">
            <div class="two columns"></div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <p class="alert eight columns">{{message |safe}}</p>
            {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="two columns"></div>
        </div>
        <div class="row">
            <!-- <div class="one column"></div> -->
            <div class="twelve columns">
                <h4>All Products</h4>
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Actions</th>
                    </tr>
                    {% if products %}
                    {% for product in products %}
                    <tr>
                        <td>{{ product['name'] }}</td>
                        <td>{{ product['description'] }}</td>
                        <td>${{ product['price'] }}</td>
                        <td>
                            <ul>
                                <li><a href="/show/{{ product['id'] }}">Show</a></li>
                                <li>|</li>
                                <li><a href="/edit/{{ product['id'] }}">Edit</a></li>
                                <li>|</li>
                                <li>
                                    <form action="/destroy" method="post">
                                        <input type="hidden" value="{{ product['id'] }}" name="product-id" />
                                        <input class="btn-remove" type="submit" value="Remove" />
                                    </form>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </table>
                <ul>
                    <li><a href="/create">Add a new product</a></li>
                </ul>

            </div>
            <!-- <div class="one column"></div> -->
        </div>
    </div>

</body>
</html>
