<!DOCTYPE hmtl>
<html>
<head>
    <title>Dojo Survey Index</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css')}}">
    <script type="text/javascript" src="{{ url_for('static',filename='js/base.js')}}"></script>
</head>
<body>

    <div class="wrapper">
        <h1>Dojo Survey</h1>
        <form action='/results' method='post'>
            Your Name: <input type='text' name='name' /><br />
            Dojo Location:<input type='text' name='location' /><br />
            Favorite Language:
            <select name="language">
                <option value="javascript">Javascript</option>
                <option value="c-sharp">c#</option>
                <option value="java">java</option>
                <option value="python">python</option>
            </select><br />
            Comment (optional):<br />
            <textarea name="comments" rows="3" cols="50"></textarea>
            <button type="submit" value="button">Button</button>
        </form>
    </div>
</body>
</html>
