<!DOCTYPE hmtl>
<html>
<head>
    <title>News</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css')}}">
</head>
<body>
    <h2 class="center">Dojo News</h2>
    <p class="info center">
        Ribeye ullamco leberkas, tri-tip est consectetur pancetta ut veniam dolore incididunt pork loin sausage dolor. Lorem ut turkey, jerky in ex flank irure officia pancetta meatball tempor beef velit. Strip steak excepteur capicola nulla. Leberkas meatball culpa ullamco, velit dolore irure pancetta kevin aute consectetur hamburger swine boudin.
    </p>
    <form action="" class="center">
        <input type="text" size="5" maxlength="5" name="complaints" class="center" />
        <button>Submit</button>
    </form>
    <script type="text/javascript" src="{{ url_for('static',filename='js/base.js')}}"></script>
</body>
</html>
