<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="description" content="_YOUR_DESCRIPTION_HERE_">
    <meta name="keywords" content="_KW1_, _KW2_, _KW3_">
    <meta name="author" content="Guy Whorley">

    <title> _PAGE_TITLE_HERE_ </title>

    <!-- Mobile Specific Meta for Skeleton -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Styles, Icons -->
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">

</head>
<body>

    <div class="container">
        <div class="row">
            <div class="one-half column">
                <h4>Basic Page</h4>
                <p>The best place to start is the "WelcomeController.py" file in app/controllers.</p>
            </div>
        </div>
    </div>

</body>
</html>
