body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}
form { margin: 20px 10px; }
.alert, .success {
  padding: 15px;
  text-align: center;
  color: white;
}
.alert { background-color: red; }
.success { background-color: green; }
a { font-size: .8em; }
.cancel-edit { margin-left: 25px; }
.form-label {
  margin-left: 15px;
  width: 100px;
}
table tr td:nth-child(1) { width: 110px; }
.h1 { margin-left: 15px; }
table { padding: 5px; }
td, th { text-align: center; }
.btn-sm, .btn-md {
  margin: 15px;
  font-size: 12pt;
}
.btn-sm { width: 100px; }
.btn-md { width: 175px; }
