// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com
body {
    padding: 0;
    margin: 0;
    font-size: 0.8em;
    font-family: 'Raleway';
    .top-a { margin-top: 20px; }
     ul { padding: 0px; margin: 0px; }
    .btn-link-gcw {
      margin: 0;
      vertical-align: center;
      text-align: center;
      border:none;
      outline:none;
      background:none;
      cursor:pointer;
      padding:0;
      text-decoration:underline;
    }
    table {
        margin-top: 15px;
        th { background-color: darkgray; color: white; font-weight: 600; }
        tr:nth-child(even) { background-color: white; }
        tr:nth-child(odd) { background-color: lightgray;}
        tr { padding: 0;
            td { padding-left: 0px; }
        }
    }
    .table {
        height: 800px;
        overflow-y: scroll;
        li { display: inline-block;}

    }

}
