<!DOCTYPE html>
<html>
  <head>
    <title>Test Home</title>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
  </head>
  <body>
      <h1>Test Home Page</h1>
      <p>{{name}}:{{id}}</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque sollicitudin metus vel purus consectetur, id imperdiet quam ullamcorper. Nulla placerat sed libero vel imperdiet. Sed vestibulum nibh ut quam bibendum faucibus. Ut iaculis, lorem ut egestas luctus, nisl lectus bibendum dolor, nec varius leo tortor id magna. Fusce et fermentum nisl. Sed dignissim porta tellus a pellentesque. Nullam faucibus, enim sit amet consequat bibendum, sem mauris euismod magna, et hendrerit ex nulla a purus. Sed ut lorem pulvinar, scelerisque orci in, tristique mauris. Integer sed magna sed nisi tincidunt malesuada quis ac libero. Mauris maximus lectus turpis, eu ultricies odio pulvinar rhoncus. Mauris tempus ullamcorper nisi id lobortis.</p>
  </body>
</html>
