// variables.scss
// my selection of fonts from Google fonts
@import url(https://fonts.googleapis.com/css?family=Roboto|Source+Sans+Pro|Open+Sans+Condensed:300|Oxygen);
// fonts set
$font-main: 'Source Sans Pro', sans-serif;
$font-alt: 'Roboto', sans-serif;
// color set
$black: black;
$red: red;
$green: green;
$gray: gray;
$dgray: darkgray;
$yellow: yellow;
$white: white;

$theme-bg-pri: #395F7F;
$theme-btn-pri: #337AB7;
