/*
Stylesheet for about me page
Auth: Guy Whorley
*/

/* Reset */

body {
  font-family: Roboto, sans-serif;
}

body .container-fluid:first-child {
  /*height: 200px;*/
  background: linear-gradient(#669b8a,#b4bfc4);
  color: white;
  padding-bottom: 10px;
}

.content-window {
    /*outline: 1px solid black;*/
    height: 300px;
}

.list-group { margin: 15px 0; }
.list-group-item:hover {
  background: linear-gradient(#669b8a,#b4bfc4);
  color: white;
}

a:link { color: black;}

hr { margin: 0 10px;}

.footer {
  text-align: center;
}
