// Place all the styles related to the randomword controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
    text-align: center;
    .row.top {
        margin: 20px 0 0 0;
        text-align: center;
    }
    .results {
        border: 1px solid black;
        box-shadow: 3px 3px 1px black;
        border-radius: 5px;
        font-size: 16pt;
        padding: 20px;
        width: 300px;
        margin: 20px auto;
     }
}
