<!DOCTYPE hmtl>
<html lang="en">
<head>
    <!-- req'd by bootstrap -->
    <meta http-equiv="X-UA-Compatable" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css')}}">

    <!-- standard metatags -->
    <meta charset="utf-8">
    <meta name="description" content="Edit the friend record.">
    <meta name="keywords" content="python, flask">
    <meta name="author" content="Guy Whorley">
    <title>Registration Info</title>

    <!-- jQuery and Bootstrap -->
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-2.2.3.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css')}}">
    <script type="text/javascript" src="{{ url_for('static',filename='js/base.js')}}"></script>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <p id="msg" class="col-md-12 {{ session['view'] }}">{{message}}</p>
      {% endfor %}
      {% endif %}
      {% endwith %}
    </div>
    <div class="row">
      <div class="alt-choice-set">
        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span><a href="/logout" class="alt-choice tac">Log-out</a>
      </div>
      <div class="row">
        <div class="col-xs-2 col-sm-4"></div>
        <div class="col-xs-10 col-sm-4 tal h1">Account</div>
        <div class="col-xs-2 col-sm-4"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-2 col-sm-4 "></div>
      <p class="col-xs-8 col-sm-4">Welcome {{ fname }}. Here are your account details:</p>
      <div class="col-xs-2 col-sm-4"></div>
    </div>
    <div class="row">
      <div class="col-xs-2 col-sm-4"></div>
      <ul class="col-xs-8 col-sm-4">
        <li><strong>First Name:</strong> {{ fname }}</li>
        <li><strong>Last Name:</strong> {{ lname }}</li>
        <li><strong>Email:</strong> {{ email }}</li>
        <li><strong>Registration Date:</strong> {{ regDate }}</li>
      </ul>
      <div class="col-xs-2 col-sm-4"></div>
    </div>
  </div>
</body>
</html>
