<!DOCTYPE hmtl>
<html lang="en">
<head>
    <!-- req'd by bootstrap -->
    <meta http-equiv="X-UA-Compatable" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css')}}">

    <!-- standard metatags -->
    <meta charset="utf-8">
    <meta name="description" content="Edit the friend record.">
    <meta name="keywords" content="python, flask">
    <meta name="author" content="Guy Whorley">
    <title>@theWall</title>

    <!-- jQuery and Bootstrap -->
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-2.2.3.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css')}}">
    <script type="text/javascript" src="{{ url_for('static',filename='js/base.js')}}"></script>
</head>
<body>
  <div class="container-fluid">

    <div id="header" class="row">
    	<div class="col-xs-8 h1">@theWall</div>
			<div class="col-xs-2"></div>
	  </div>

		<div class="row">
			 {% with messages = get_flashed_messages() %}
			 {% if messages %}
			 {% for message in messages %}
			 <p class="col-md-12 {{ session['view'] }}">{{message}}</p>
			 {% endfor %}
			 {% endif %}
			 {% endwith %}
		 </div>

		<div class="row">
			<div class="alt-choice-set">
				<span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>
				<a href="/logout" class="alt-choice tac">Log-out</a>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-1"></div>
			<form action="/postMessage" method="post" class="col-xs-10">
				<p class="col-xs-12">Hello <strong>{{ fname }}</strong>, post your message:</p>
				<textarea name="content" class="col-xs-12 post-it" rows="5"></textarea>
				<div class="col-xs-1"></div>
				<div class="col-xs-1"></div>
				<div class="col-xs-10">
					<input class="btn btn-md btn-primary" type="submit" name="submit" value="Save " />
				</div>
				<div class="col-xs-1"></div>

				<div class="col-xs-1"></div>
				<a href="/theWall" class="a-refresh col-xs-10 alt-choice tac">Refresh</a>
				<div class="col-xs-1"></div>

			</form>
    </div>
	</div>
	<div class="container-fluid postings">
			{% if posts %}
			{% for post in posts %}
				<div class="row posting">
					<div class="col-xs-1"></div>
					<div class="col-xs-10">
						<span class="post-title">
							<span class="post-user">{{ post['first_name']}} {{post['last_name']}} </span>
							wrote on <span class="post-date">{{post['created_at']}}</span>:
							<span class="post-message"><q>{{post['message']}}</q></span> <a href="/comment/{{post['id']}}/{{post['user_id']}}">(+comment)</a></span>
							{% if comments %}
							{% for c_dict in comments %}
								{% for key,value in c_dict.iteritems() %}
										<p>
											{{key}}:{{value}}
										</p>
								{% endfor %}
							{% endfor %}
							{% endif %}
					</div>
					<div class="col-xs-1"></div>
				</div>
			{% endfor %}
			{% endif %}
		</div>
</body>
</html>
