// Place all the styles related to the Wall controller here.
body {
    font-family: 'Source Sans Pro', sans-serif;
    form, a, div { margin-left: 20px; }
    h1 {

        padding-top: 15px;
        padding-left: 20px;
    }
    .alert { color: red; font-size: 16pt; font-weight: 600; }
    .header { float:left; }
    .a-top, .user-marquee {
        float:right;
        display: inline-block;
    }
    .btn-post { float:right;}
    textarea { height: 100px; }
    .all-messages { font-size: 0.9em; }
    .author { margin-left: 20px; font-size: 0.8em; }
    q { font-family: 'Source Sans Pro', sans-serif; }
    h4, h1 { font-family: 'Passion One', cursive; }
}
* { font-family: 'Source Sans Pro', sans-serif; }
